<div class="newsletter py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="title">
                    <strong>Get the Latest News Delivered Daily.</strong>
                    <span>
                        Give us your email and you will be daily updated with the
                        latest events, in detail.
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <form action="">
                    <div class="form-group">
                        <input type="email"
                               class="form-control"
                               name="email"
                               id="email"
                               aria-describedby="helpId"
                               placeholder="Enter your email address" />
                    </div>
                    <button type="submit">Subscribe</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>