@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-change-password-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}
<div class="right_product_content">

    <div class="page account-page change-password-page">
        <div class="page-title">
            <h3>@T("Account.MyAccount") - @T("Account.ChangePassword")</h3>
        </div>
        <div class="page-body">
            @if (!string.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            <form asp-route="CustomerChangePassword" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="fieldset">
                    <div class="form-fields">
                       <div class="inputs form-group py-2">
                            <label asp-for="OldPassword" asp-postfix=":"></label><span class="starMark"><nop-required /></span>
                            <input asp-for="OldPassword" />
                            <span  class="clsRequiredMsg" asp-validation-for="OldPassword"></span>
                        </div>
                       <div class="inputs form-group py-2">
                            <label asp-for="NewPassword" asp-postfix=":"></label><span class="starMark"><nop-required /></span>
                            <input asp-for="NewPassword" />
                            <span  class="clsRequiredMsg" asp-validation-for="NewPassword"></span>
                        </div>
                       <div class="inputs form-group py-2">
                            <label asp-for="ConfirmNewPassword" asp-postfix=":"></label><span class="starMark"><nop-required /></span>
                            <input asp-for="ConfirmNewPassword" />
                            
                            <span  class="clsRequiredMsg" asp-validation-for="ConfirmNewPassword"></span>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" class="Normalbutton button-1 change-password-button" value="@T("Account.ChangePassword.Button")" />
                </div>
            </form>
        </div>
    </div>
    </div>