@model AddressModel
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    //we don't move this script to the footer as it's used in Ajax requests where footer is not available
    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.CountryId)").change(function () {
            var selectedItem = $(this).val();
            var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");
            var statesProgress = $("#states-loading-progress");
            statesProgress.show();
                $.ajax({
                cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                    ddlStates.html('');
                        $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                    statesProgress.hide();
                },
                    error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                    statesProgress.hide();
                }
            });
        });
    });
    </script>
}
<input asp-for="Id" type="hidden" />
<div class="edit-address">
    <div class="inputs form-group">
        <label asp-for="FirstName" asp-postfix=":"></label><span class='starMark'><nop-required /></span>
        <input asp-for="FirstName" />

        <span  class="clsRequiredMsg" asp-validation-for="FirstName"></span>
    </div>
    <div class="inputs form-group">
        <label asp-for="LastName" asp-postfix=":"></label><span class='starMark'><nop-required /></span>
        <input asp-for="LastName" />

        <span  class="clsRequiredMsg" asp-validation-for="LastName"></span>
    </div>
    <div class="inputs form-group">
        <label asp-for="Email" asp-postfix=":"></label><span class='starMark'><nop-required /></span>
        <input asp-for="Email" />

        <span  class="clsRequiredMsg" asp-validation-for="Email"></span>
    </div>
    @if (Model.CompanyEnabled)
    {
        <div class="inputs form-group">
            <label asp-for="Company" asp-postfix=":"></label><span class='starMark'>

                @if (Model.CompanyRequired)
                {
                    <nop-required />
                }

            </span>
            <input asp-for="Company" />

            <span  class="clsRequiredMsg" asp-validation-for="Company"></span>
        </div>
    }
    @if (Model.CountryEnabled)
    {
        <div class="inputs form-group">
            <label asp-for="CountryId" asp-postfix=":"></label><span class='starMark'><nop-required /></span>
            <select asp-for="CountryId" asp-items="Model.AvailableCountries"></select>

            <span  class="clsRequiredMsg" asp-validation-for="CountryId"></span>
        </div>
    }

    @if (Model.CountryEnabled && Model.StateProvinceEnabled)
    {
        <div class="inputs form-group">
            <label asp-for="StateProvinceId" asp-postfix=":"></label>
            <select asp-for="StateProvinceId" asp-items="Model.AvailableStates"></select>
            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            <span  class="clsRequiredMsg" asp-validation-for="StateProvinceId"></span>
        </div>
    }
    @if (Model.CityEnabled)
    {
        <div class="inputs form-group">
            <label asp-for="City" asp-postfix=":"></label><span class='starMark'>

                @if (Model.CityRequired)
                {
                    <nop-required />
                }

            </span>
            <input asp-for="City" />

            <span  class="clsRequiredMsg" asp-validation-for="City"></span>
        </div>
    }
    @if (Model.StreetAddressEnabled)
    {
        <div class="inputs form-group">
            <label asp-for="Address1" asp-postfix=":"></label><span class='starMark'>

                @if (Model.StreetAddressRequired)
                {
                    <nop-required />
                }

            </span>
            <input asp-for="Address1" />

            <span  class="clsRequiredMsg" asp-validation-for="Address1"></span>
        </div>
    }
    @if (Model.StreetAddress2Enabled)
    {
        <div class="inputs form-group">
            <label asp-for="Address2" asp-postfix=":"></label><span class='starMark'>

                @if (Model.StreetAddress2Required)
                {
                    <nop-required />
                }

            </span>
            <input asp-for="Address2" />

            <span  class="clsRequiredMsg" asp-validation-for="Address2"></span>
        </div>
    }
    @if (Model.ZipPostalCodeEnabled)
    {
        <div class="inputs form-group">
            <label asp-for="ZipPostalCode" asp-postfix=":"></label><span class='starMark'>

                @if (Model.ZipPostalCodeRequired)
                {
                    <nop-required />
                }

            </span>
            <input asp-for="ZipPostalCode" />

            <span  class="clsRequiredMsg" asp-validation-for="ZipPostalCode"></span>
        </div>
    }
    @if (Model.PhoneEnabled)
    {
        <div class="inputs form-group">
            <label asp-for="PhoneNumber" asp-postfix=":"></label><span class='starMark'>

                @if (Model.PhoneRequired)
                {
                    <nop-required />
                }

            </span>
            <input asp-for="PhoneNumber" />

            <span  class="clsRequiredMsg" asp-validation-for="PhoneNumber"></span>
        </div>
    }
    @if (Model.FaxEnabled)
    {
        <div class="inputs form-group">
            <label asp-for="FaxNumber" asp-postfix=":"></label><span class='starMark'>

                @if (Model.FaxRequired)
                {
                    <nop-required />
                }

            </span>
            <input asp-for="FaxNumber" />

            <span  class="clsRequiredMsg" asp-validation-for="FaxNumber"></span>
        </div>
    }
    @if (Model.CustomAddressAttributes.Count > 0)
    {
        @await Html.PartialAsync("_AddressAttributes", Model.CustomAddressAttributes)
    }
</div>
