<!-- Page Header -->
<header class="page_header">
    <div class="container">
        <!-- first navbar -->
        @await Component.InvokeAsync("HeaderLinks")
        @await Component.InvokeAsync("FlyoutShoppingCart")
        <!-- End of First Navbar -->
        <!-- second-nav -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light second_nav">
            @await Component.InvokeAsync("Logo")
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon lnr lnr-cart"></span>
            </button>
            @*<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="#">
                        <span class="lnr lnr-cart cart_icon"></span> My Cart
                        <span class="cart_counter">0</span>
                    </a>
                </div>
            </div>*@
        </nav>
        <!-- end of second-nav -->
    </div>
    <!-- third-nav -->
    @await Component.InvokeAsync("TopMenu")
    <!-- Start SearchBox -->
    <!-- <div class="container"> -->
    <div class="search_box" id="search_box_container">
        <div class="search-box store-search-box form-group search_form_group">
            @await Component.InvokeAsync("SearchBox")
        </div>
    </div>
    <!-- </div> -->
    <!-- end_searchbox -->
    <!-- end of third-nav -->

</header>




@*<div class="header">
        @await Component.InvokeAsync("Widget", new { widgetZone = "header_before" })
        <div class="header-upper">
            <div class="header-selectors-wrapper">
                @await Component.InvokeAsync("TaxTypeSelector")
                @await Component.InvokeAsync("CurrencySelector")
                @await Component.InvokeAsync("LanguageSelector")
                @await Component.InvokeAsync("Widget", new { widgetZone = "header_selectors" })
            </div>
            <div class="header-links-wrapper">
                @await Component.InvokeAsync("HeaderLinks")
                @await Component.InvokeAsync("FlyoutShoppingCart")
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "header_middle" })
        <div class="header-lower">
            <div class="header-logo">
                @await Component.InvokeAsync("Logo")
            </div>
            <div class="search-box store-search-box">
                @await Component.InvokeAsync("SearchBox")
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "header_after" })
    </div>*@
