@import "./mixins";
.breadcrumb {
  background: #e9ecef !important;
  margin-bottom: 50px;
  a {
    color: #000000;
    text-decoration: none;
    font-size: 12px;
    &:hover {
      color: #8594a0;
    }
  }
  a.active {
    font-size: 12px !important;
  }
}

.left_product_content {
  padding: 25px;
  border-right: 1px solid #e9ecef;

  h3 {
    font-size: 26px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 40px;
  }

  #section1HeaderId {
    padding-bottom: 20px;
    @include productSpanStyle;
    @include linkOnProduct;
  }

  #section1ContentId {
    margin-bottom: 25px;
    @include linkOnProductContent;
  }

  #color_selectID {
    margin-bottom: 20px;
    @include productSpanStyle;
    @include linkOnProduct;
  }

  #color_content {
    padding: 15px 17px;
    text-align: left;
    div {
      display: inline-block;
      &:hover {
        cursor: pointer;
      }
    }
  }

  #section2HeaderId {
    padding-bottom: 10px;
    @include linkOnProduct;
    @include productSpanStyle;
  }

  #section2ContentId {
    margin-bottom: 25px;
    @include linkOnProductContent;
  }
  #section3HeaderId {
    padding-bottom: 20px;
    @include linkOnProduct;
    @include productSpanStyle;
  }

  #section3ContentId {
    margin-bottom: 25px;
    @include linkOnProductContent;
    input[type="text"] {
      padding: 6px 20px;
      font-size: 12px;
      line-height: 24px;
      min-height: 50px;
      background: #f6f6f6;
      border: 0;
    }
  }

  .price_slider_range {
    margin-top: 8px;
    @include inputField;
    @include rangeStyle;
    input[type="number"]:focus {
      outline: none !important;
      box-shadow: none !important;
      border: none !important;
    }
  }

  #section4HeaderId {
    padding-bottom: 20px;
    @include linkOnProduct;
  }

  #section4ContentId {
    margin-bottom: 25px;
    @include linkOnProductContent;
  }

  button[type="submit"] {
    background: #8594a0;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 0;
    color: #e9ecef;

    &:hover {
      background: #000;
    }
  }
}

.section_content {
  li {
    display: flex;
    justify-content: space-between;

    a {
      font-size: 13px !important;
      transition: color 0.3s ease;

      &:hover {
        color: #000 !important;
      }
    }
  }
}

.compare_products {
  border-top: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
  padding: 50px 20px;
}

.wishlist_products {
  border-top: 1px solid #e9ecef;
  padding: 50px 20px;
  h6 {
    color: #000;
    text-transform: uppercase;
  }
}

.right_product_content {
  padding: 30px;
  .row {
    margin-top: 30px;
    // border-top: 1px solid #e9ecef;
    border-bottom: 1px solid #e9ecef;
    padding: 30px 0;
  }

  h3 {
    color: #000;
    font-family: inherit;
    font-size: 35px;
    font-weight: 600;
  }
  .product_card {
    &::before {
      content: "";
      font-size: 12px;
      background: none;
    }

    .price {
      color: #ee221d;
    }

    .prevPrice {
      text-decoration: line-through;
    }
  }
}

.header_filter_big {
  border-top: none !important;
  .sort_filter_col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  select {
    background: #f6f6f6;
    outline: none;
    border: none;
    font-size: 12px;
    padding: 13px 25px;
    font-family: inherit;
  }

  .sort_filter {
    display: inline-block;

    label {
      font-family: inherit;
      font-size: 14px;
      font-weight: 600;
      color: #000000;
      margin-right: 20px;
    }
  }

  .desc_btn {
    display: inline-block;
    color: #888888;
    font-size: 23px;
    text-decoration: none;
    margin-top: 15px;
    margin-left: 10px;
    transition: all 0.3s ease;
    &:hover {
      color: #000;
    }
  }

  .page_item_number {
    p {
      margin-top: 10px;
      text-align: center;
      font-size: 12px;
      font-family: inherit;
    }
  }
}

.right_filter {
  display: flex;
  justify-content: center;
  align-items: center;
  label {
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    margin-right: 20px;
  }

  select {
    margin-right: 15px;
  }

  .right_filter_action_btn {
    margin-left: 12px;
  }

  a {
    text-decoration: none;
    color: #888888;
    font-family: inherit;
    transition: all 0.3s ease;
    &:not(:last-child) {
      margin-right: 8px;
    }

    &:hover {
      color: #000000;
    }
    i {
      font-size: 24px;
    }
  }
}

.header_filter_small {
  border-top: none !important;
  display: none;
  .sort_filter_col {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sort_filter {
    display: inline-block;
  }

  select {
    background: #f6f6f6;
    outline: none;
    border: none;
    font-size: 12px;
    padding: 13px 25px;
    font-family: inherit;
  }

  .desc_btn {
    display: inline-block;
    color: #888888;
    font-size: 23px;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 10px;
    transition: all 0.3s ease;
    &:hover {
      color: #000;
    }
  }

  .fliter_btn {
    padding: 15px 25px;
    border: 2px solid #f6f6f6;
    text-decoration: none;
    text-transform: uppercase;
    color: #888888;
    font-family: inherit;
    font-size: 17px;
    font-weight: 600;
    margin-left: 70px;
    transition: all 0.3s ease;

    &:hover {
      background: #000;
      border: 2px solid #000000;
      color: #fff;
    }
  }
}

.product_pagination {
  padding-top: 35px;
  ul {
    background: #fff !important;
  }
  li {
    border-radius: 0;
    a {
      position: relative;
      display: block;
      padding: 0.5rem 0.75rem;
      margin-left: -1px;
      line-height: 1.25;
      color: #232834;
      background-color: #fff;
      border: none !important;

      &:hover {
        background: #000000;
        color: #8594a0;
      }
    }
  }
  li.active {
    a {
      color: #e9ecef !important;
      background-color: #000000 !important;
    }
  }
  .next {
    color: #000 !important;
  }
  .next:hover {
    color: #8594a0 !important;
    background: transparent !important;
  }
}

// listview product

.listViewProduct {
  .listViewProduct_desc {
    font-family: inherit;
    font-size: 12px;
    color: #888888;
  }

  .lisViewProduct_action_section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .extra_option {
      margin-top: 10px;
      margin-left: 30px;
    }
  }

  .addToCart {
    margin-top: -3px;
  }
}

@media (max-width: 767px) {
  .header_filter_big {
    display: none;
  }
  .header_filter_small {
    display: block;
  }
}

@media (max-width: 380px) {
  .header_filter_small {
    .sort_filter_col {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .filter_option {
      text-align: center;
    }
    .fliter_btn {
      display: block;
      margin-bottom: 10px;
      margin-left: 0;
      width: 100%;
      text-align: center;
    }
  }
}
