<div class="special_product">
    <h1 class="page_title">
        <strong class="title">Special Products</strong>
    </h1>
    <div class="row">
        <div class="col-md-3">
            <div class="product_card">
                <img src="~/Themes/Junkyard/Content/img/air_intake_hose_for_toyota_camry_2.2l_4cyl_1997_5_.png"
                     class="card-img-top"
                     alt="product_image" />
                <div class="card-body">
                    <p class="card-text">
                        <span class="price">$120.00</span>
                        <span class="prevPrice">$36.00</span>
                    </p>
                    <strong>Portseat Set Las Vegas Artif...</strong>
                    <a href="#" class="btn addToCart"><span class="lnr lnr-cart"></span>Add to Cart</a>
                    <div class="review">
                        <div class="review_star">
                            <span class="lnr lnr-star"></span>
                            <span class="lnr lnr-star"></span>
                            <span class="lnr lnr-star"></span>
                            <span class="lnr lnr-star"></span>
                            <span class="lnr lnr-star"></span>
                        </div>
                        <div class="review_text">4 reviews</div>
                    </div>
                    <div class="extra_option">
                        <span class="lnr lnr-heart"></span>
                        <span class="lnr lnr-store"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product_card">
                <img src="~/Themes/Junkyard/Content/img/noco_genius_boost_12v_ultrasafe_lithium_jump_starter_06_2_.png"
                     class="card-img-top"
                     alt="product_image" />
                <div class="card-body">
                    <p class="card-text">
                        <span class="price">$120.00</span>
                        <span class="prevPrice">$36.00</span>
                    </p>
                    <strong>Portseat Set Las Vegas Artif...</strong>
                    <p class="outOfStock">Out of stock</p>
                    <div class="review">
                        <div class="review_star">
                            <span class="lnr lnr-star"></span>
                            <span class="lnr lnr-star"></span>
                            <span class="lnr lnr-star"></span>
                            <span class="lnr lnr-star"></span>
                            <span class="lnr lnr-star"></span>
                        </div>
                        <div class="review_text">4 reviews</div>
                    </div>
                    <div class="extra_option">
                        <span class="lnr lnr-heart"></span>
                        <span class="lnr lnr-store"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product_card">
                <img src="~/Themes/Junkyard/Content/img/sport_shock_absorber_high_tec_bmw_mini_cooper_2_.png"
                     class="card-img-top"
                     alt="product_image" />
                <div class="card-body">
                    <p class="card-text">
                        <span class="price">$120.00</span>
                        <span class="prevPrice">$36.00</span>
                    </p>
                    <strong>Portseat Set Las Vegas Artif...</strong>
                    <a href="#" class="btn addToCart"><span class="lnr lnr-cart"></span>Add to Cart</a>
                    <div class="review">
                        <div class="review_star">
                            <span class="lnr lnr-star"></span>
                            <span class="lnr lnr-star"></span>
                            <span class="lnr lnr-star"></span>
                            <span class="lnr lnr-star"></span>
                            <span class="lnr lnr-star"></span>
                        </div>
                        <div class="review_text">4 reviews</div>
                    </div>
                    <div class="extra_option">
                        <span class="lnr lnr-heart"></span>
                        <span class="lnr lnr-store"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product_card">
                <img src="~/Themes/Junkyard/Content/img/sport_air_filter_replacement_filter_peugeot_206_fr_01.png"
                     class="card-img-top"
                     alt="product_image" />
                <div class="card-body">
                    <p class="card-text">
                        <span class="price">$120.00</span>
                        <span class="prevPrice">$36.00</span>
                    </p>
                    <strong>Portseat Set Las Vegas Artif...</strong>
                    <a href="#" class="btn addToCart"><span class="lnr lnr-cart"></span>Add to Cart</a>
                    <div class="review">
                        <div class="review_star">
                            <span class="lnr lnr-star"></span>
                            <span class="lnr lnr-star"></span>
                            <span class="lnr lnr-star"></span>
                            <span class="lnr lnr-star"></span>
                            <span class="lnr lnr-star"></span>
                        </div>
                        <div class="review_text">4 reviews</div>
                    </div>
                    <div class="extra_option">
                        <span class="lnr lnr-heart"></span>
                        <span class="lnr lnr-store"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>